<html>
    <title>NCore [NPC INFO]</title>
        <table width=280 border=0 bgcolor="00d3ff">
            <tr>
                <td width=140>NPC ID: %npcId%</td>
				<td width=140>OBJ ID: %objectId%</td>
            </tr>
        </table>

        <table width=280 border=0>
			<tr>
                <td><font color="569cd6">AI_NAME:</font></td>
                <td><font color="d69d85">%aiName%</font></td>
            </tr>
			<tr>
                <td><font color="569cd6">AI_NSPACE:</font></td>
                <td><font color="4ec9b0">%aiNameSpace%</font></td>
            </tr>
			<tr>
                <td><font color="569cd6">AI_MODULE:</font></td>
                <td><font color="4ec9b0">%aiModule%</font></td>
            </tr>
        </table>
		<center>
			<font color="b8d7a3">Stats:</font>
			<table width=270 border=0 bgcolor=424242>
				<tr>
					<td width=270 align="center" height=1></td>
				</tr>
			</table>
		</center>
		<table width=280 border=0>
            <tr>
				<td width=90><font color="569cd6">Level:</font> <font color="b8d7a3">%level%</font></td>
                <td width=90><font color="569cd6">Race:</font> <font color="d69d85">%race%</font></td>
                <td width=90><font color="569cd6">Sex:</font> <font color="d69d85">%sex%</font></td>
            </tr>
			<tr>
                <td><font color="569cd6">STR:</font> <font color="b8d7a3">%str%</font></td>
                <td><font color="569cd6">DEX:</font> <font color="b8d7a3">%dex%</font></td>
                <td><font color="569cd6">CON:</font> <font color="b8d7a3">%con%</font></td>
            </tr>
			<tr>
                <td><font color="569cd6">INT:</font> <font color="b8d7a3">%int%</font></td>
                <td><font color="569cd6">WIT:</font> <font color="b8d7a3">%wit%</font></td>
                <td><font color="569cd6">MEN:</font> <font color="b8d7a3">%men%</font></td>
            </tr>
        </table>

</html>
